* {
  padding: 0;
  margin: 0;
  text-shadow: none;
}
@font-face {
  font-family: 'hb';
  src: url('../font/hb.ttf');
  font-weight: normal;
  font-style: normal;
}
.logo {
  float: left;
  width: 25.33%;
  margin: 2.4%;
}
.btn {
  width: 38%;
  padding: 1% 0;
  padding-bottom: 3%;
  text-align: center;
  font-family: hb;
  color: #ffffff;
  font-size: 22px;
  text-shadow: 1.5px 0px 0px #6f4022, -1.5px 0px 0px #6f4022, 0px 1.5px 0px #6f4022, 0px -1.5px 0px #6f4022;
}
.b_btn {
  background: url("../images/blue_btn.png") center center no-repeat;
  background-size: 100% 100%;
}
.r_btn {
  background: url("../images/red_btn.png") center center no-repeat;
  background-size: 100% 100%;
}
.y_btn {
  background: url("../images/yellow_btn.png") center center no-repeat;
  background-size: 100% 100%;
}
.mask {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
}
#infoPage {
  background: url("../images/gamePage.jpg") center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#infoPage .tip_box {
  position: absolute;
  width: 240px;
  height: 210px;
  top: 26%;
  background-color: #fbf8e7;
  z-index: 101;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #714223 ,0 0 0 5px #fa865e,0 0 0 6px #714223;
}
#infoPage .tip_box .close_tip {
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #68341a;
  background: url("../images/cross.png") center no-repeat #fbab75;
  background-size: 42% 42%;
  margin-top: 5px;
  margin-right: 5px;
}
#infoPage .tip_box .tip_state {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #68341a;
  background: url("../images/tick.png") center no-repeat #f7c93b;
  background-size: 50% 50%;
  border-radius: 50%;
  margin-top: 30px;
}
#infoPage .tip_box .tip_info {
  text-align: center;
  width: 100%;
  color: #fa865e;
  margin: 10px auto;
}
#infoPage .tip_box .startBtn {
  font-size: 13px;
  width: 85px;
  height: 22px;
  line-height: 24px;
  margin: 0 auto;
  margin-top: 30px;
}
#infoPage .user_avatar {
  width: 19%;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 50%;
  border: 2px solid #623118;
}
#infoPage .info_nickname {
  width: 100%;
  text-align: center;
  padding-top: 8px;
  color: #7db5fa;
  font-size: 19px;
  text-shadow: 1.5px 0px 0px #6f4022, -1.5px 0px 0px #6f4022, 0px 1.5px 0px #6f4022, 0px -1.5px 0px #6f4022;
}
#infoPage .info_title {
  width: 100%;
  text-align: center;
  font-family: hb;
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
  text-shadow: 1.5px 0px 0px #6f4022, -1.5px 0px 0px #6f4022, 0px 1.5px 0px #6f4022, 0px -1.5px 0px #6f4022;
}
#infoPage .info_list {
  width: 243px;
  display: block;
  margin: 0 auto;
  list-style: none;
  margin-top: 25px;
}
#infoPage .info_list .Spinner {
  float: right;
  width: 184px;
  position: relative;
}
#infoPage .info_list .Spinner .arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 152px;
  top: 2px;
  background-color: #ffae91;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
#infoPage .info_list .Spinner .arrow_down {
  display: block;
  width: 30px;
  margin: 0 auto;
}
#infoPage .info_list .Spinner .seletor_trigger {
  position: absolute;
  width: 100%;
  height: 35px;
  z-index: 100;
}
#infoPage .info_list .Spinner .school_list {
  display: none;
  position: absolute;
  width: 150px;
  left: 1px;
  top: 34px;
  list-style: none;
  border: 1px solid #a96150;
  border-top: none;
  height: 175px;
  overflow: hidden;
}
#infoPage .info_list .Spinner .school_list .ghost_ele {
  position: relative;
  width: 100%;
  height: 100%;
}
#infoPage .info_list .Spinner .school_list .ghost_ele .li_holder {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#infoPage .info_list .Spinner .school_list li {
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  border-top: 1px solid #a96150;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  cursor: pointer;
}
#infoPage .info_list > li {
  height: 34px;
  line-height: 34px;
  margin-bottom: 20px;
}
#infoPage .info_list span {
  float: left;
  color: #FFFFFF;
  font-family: hb;
  font-size: 18px;
  text-shadow: 1.5px 0px 0px #6f4022, -1.5px 0px 0px #6f4022, 0px 1.5px 0px #6f4022, 0px -1.5px 0px #6f4022;
}
#infoPage .info_list input {
  float: right;
  border-radius: 5px;
  border: 2px solid #a96150;
  width: 170px;
  padding: 5px 5px;
  background-color: #FFFFFF;
}
#infoPage .apply_info {
  margin: 0 auto;
  margin-top: 40px;
}
#homePage {
  height: 100%;
  background: url("../images/homePage_back.jpg") bottom no-repeat #fad87b;
  background-size: 100% 100%;
  position: relative;
}
#homePage .programerHolder {
  display: none;
  z-index: 100000;
  position: absolute;
  width: 76%;
  height: 41.87%;
  left: 12%;
  top: 25%;
  background: #fbf8e7;
  border: 2px solid #714223;
  box-shadow: 0 0 0 5px #fa865e,0 0 0 6px #714223;
  border-radius: 8px;
}
#homePage .programerHolder .position_box {
  position: relative;
  width: 100%;
  height: 100%;
}
#homePage .programerHolder .developer_title {
  width: 78.94%;
  float: left;
  margin-left: 10.53%;
  margin-top: -7.9%;
}
#homePage .programerHolder .closeP {
  position: absolute;
  top: 5%;
  left: 86%;
  background: #ffd145;
  color: #fefff0;
  font-size: 17px;
  padding: 0.5%;
  border: 1px solid #fefff0;
  border-radius: 50%;
}
#homePage .programerHolder .programer {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding-top: 18%;
  width: 80%;
}
#homePage .programerHolder .programer li {
  text-align: center;
  width: 100%;
  color: #578be0;
  text-shadow: 0 0 0 #578be0;
  margin-bottom: 8%;
}
#homePage .developer_btn {
  position: absolute;
  width: 6.5%;
  left: 91%;
  top: 1%;
}
#homePage .HomePage_slogan {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#homePage .startBtn {
  margin-bottom: 5%;
}
#homePage .logo {
  float: none;
  position: absolute;
  top: 2.4%;
  left: 2.4%;
}
#homePage .slogan_container {
  background: url("../images/HomePage_slogan.png") center no-repeat;
  background-size: 100%;
}
#homePage .slogan_container .HomePage_slogan {
  visibility: hidden;
}
#homePage .btn_container {
  text-align: center;
  padding-top: 16%;
  height: 21%;
}
#homePage .btn_container * {
  display: inline-block;
}
.copyright {
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  width: 100%;
  margin-top: 3%;
}
#overPage {
  background: url("../images/gamePage.jpg") center no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
#overPage .btn_container {
  width: 100%;
  float: left;
  margin-top: 10%;
  text-align: center;
}
#overPage .btn_container div {
  display: inline-block;
}
#overPage .btn_container .RankBtn {
  margin-bottom: 5%;
}
#overPage .GradeBoard {
  float: left;
  width: 70.667%;
  background: #fbf8e7;
  border: 2px solid #714223;
  box-shadow: 0 0 0 5px #fa865e,0 0 0 6px #714223;
  border-radius: 8px;
  margin-left: 14%;
  margin-top: 20%;
  height: 35%;
  position: relative;
}
#overPage .GradeBoard .PopupWindow_title {
  display: block;
  float: left;
  width: 85.66%;
  margin-left: 7.17%;
  margin-top: -12%;
}
#overPage .GradeBoard .info_container {
  margin-top: 8%;
  color: #fa865e;
  float: left;
  width: 88%;
  margin-left: 6%;
  text-align: center;
  line-height: 28px;
  font-size: 17px;
}
#overPage .GradeBoard .info_container span {
  color: #fc561d;
  font-size: 20px;
  font-weight: 800;
}
#testPage {
  background: url("../images/gamePage.jpg") center no-repeat;
  background-size: 100% 100%;
}
#testPage .QuestionType {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: hb;
  font-size: 28px;
  float: left;
  margin-top: -10px;
  text-shadow: 1.5px 0px 0px #6f4022, -1.5px 0px 0px #6f4022, 0px 1.5px 0px #6f4022, 0px -1.5px 0px #6f4022;
}
#testPage .questionContainer {
  width: 75%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #6f4022;
  float: left;
  margin-left: 8.9%;
  margin-top: 5%;
  box-shadow: 0 0 0 10px #f88364,0 0 0 12px #6f4022;
  color: #fb5d32;
  font-size: 13px;
  line-height: 25px;
  padding: 3%;
}
#testPage .questionContainer .fillbox {
  border: 2px solid #f88364;
  margin: 0 2px;
  padding: 0.5% 1.5%;
  border-radius: 3px;
  color: #ffffff;
}
#testPage .Description {
  float: left;
  visibility: hidden;
  font-size: 14px;
  color: #333;
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 9%;
  width: 82%;
  font-weight: 700;
}
#testPage .MultipleChoice {
  display: none;
  width: 82%;
  float: left;
  margin-left: 7%;
}
#testPage .MultipleChoice .selections {
  list-style: none;
}
#testPage .MultipleChoice .selections li {
  background: #fea087;
  border: 2px solid #6f4022;
  border-radius: 100px;
  overflow: hidden;
  width: 90%;
  padding: 1.5% 0;
  margin-bottom: 2%;
}
#testPage .MultipleChoice .selections li span {
  float: left;
}
#testPage .MultipleChoice .selections li .label {
  margin-left: 2.5%;
  font-size: 20px;
  color: #fea087;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #6f4022;
}
#testPage .MultipleChoice .selections li .selection {
  color: #ffffff;
  text-shadow: 0 1px 2px #f86b4f;
  margin-left: 2%;
  font-size: 14px;
  margin-top: 1.25%;
}
#testPage .FillBlank {
  display: none;
  width: 87%;
  float: left;
  margin-left: 6.5%;
  margin-top: 2%;
}
#testPage .FillBlank .FillSelections {
  overflow: hidden;
  list-style: none;
  margin-top: 5%;
}
#testPage .FillBlank .FillSelections li {
  float: left;
  margin-left: 10.2%;
  background: #ffffff;
  border: 2px solid #f88364;
  color: #f88364;
  border-radius: 5px;
  padding: 2.5% 3%;
  margin-bottom: 5%;
  font-size: 18px;
  box-shadow: 0 3px 3px #f5b026;
}
#testPage .TrueFalse {
  display: none;
  width: 87%;
  float: left;
  margin-left: 6.5%;
  margin-top: 1%;
}
#testPage .TrueFalse .right {
  float: left;
}
#testPage .TrueFalse .wrong {
  float: right;
}
#testPage .TrueFalse .selection {
  background: #fea087;
  border: 2px solid #6f4022;
  border-radius: 100px;
  width: 40%;
  padding: 2% 0;
}
#testPage .TrueFalse .selection .label {
  margin-left: 3%;
  font-size: 20px;
  color: #fea087;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #6f4022;
}
#testPage .TrueFalse .selection .dec {
  color: #ffffff;
  text-shadow: 0 1px 2px #f86b4f;
  font-size: 18px;
  margin-left: 5%;
}
#testPage .applyBtn {
  float: left;
  margin-left: 31%;
  margin-top: 1%;
  margin-bottom: 3%;
}
#classRankPage {
  background: linear-gradient(#f9d166, #fcdf90);
  position: relative;
}
#classRankPage .copyright {
  float: left;
  color: #fa9f3e;
  margin-top: 5%;
}
#classRankPage .btnContainer {
  width: 85%;
  margin: 5% auto;
  text-align: center;
}
#classRankPage .btnContainer div {
  display: inline-block;
  font-size: 14px;
  width: 35%;
}
#classRankPage .list_container {
  width: 100%;
  position: relative;
}
#classRankPage .list_container .list_title {
  width: 64.67%;
  position: relative;
  left: -14%;
  top: 0;
  z-index: 100;
}
#classRankPage .list_container .rank_list {
  width: 84.5%;
  margin: 0 auto;
  margin-top: -15%;
  border: 2px solid #623118;
  box-shadow: 1px 2px 0 2px #f5592d ,0 0 0 10px #fa976b,0 0 0 12px #623118;
  border-radius: 10px;
  background: #fcf8e8;
}
#classRankPage .list_container .rank_list .user_avatar {
  width: 23.3%;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 50%;
  border: 2px solid #623118;
}
#classRankPage .list_container .rank_list .nickname {
  color: #fcb103;
  font-weight: 700;
  text-align: center;
  margin-top: 1.2%;
  margin-bottom: 3%;
}
#classRankPage .list_container .rank_list .rank {
  text-align: center;
  color: #e87d60;
  font-family: hb;
}
#classRankPage .list_container .rank_list .rank .classranknum {
  font-family: hb;
  color: #53ccc1;
  font-size: 25px;
}
#classRankPage .list_container .rank_list .studyBtn {
  display: block;
  margin: 3% auto;
  width: 29.167%;
}
#classRankPage .list_container .rank_list .classlist_rank {
  list-style: none;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
}
#classRankPage .list_container .rank_list .classlist_rank li {
  width: 90%;
  overflow: hidden;
  padding: 3% 5%;
}
#classRankPage .list_container .rank_list .classlist_rank li span {
  color: #f46e49;
}
#classRankPage .list_container .rank_list .classlist_rank li .list_college {
  border-radius: 50%;
  float: left;
  font-size: 12px;
  width: 33%;
  padding-top: 5%;
}
#classRankPage .list_container .rank_list .classlist_rank li .list_classNum {
  font-size: 13px;
  font-weight: 600;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}
#classRankPage .list_container .rank_list .classlist_rank li .list_ranknum {
  font-family: hb;
  font-size: 20px;
  float: right;
  margin-right: 4.5%;
  padding: 2% 0;
  color: #fc932b;
}
#classRankPage .list_container .rank_list .classlist_rank li .medal {
  float: right;
  width: 10.5%;
  margin-top: 1%;
}
#rankPage {
  background: linear-gradient(#f9d166, #fcdf90);
  position: relative;
}
#rankPage .copyright {
  float: left;
  color: #fa9f3e;
  margin-top: 5%;
}
#rankPage .btnContainer {
  width: 85%;
  margin: 5% auto;
  text-align: center;
}
#rankPage .btnContainer div {
  display: inline-block;
  font-size: 14px;
  width: 35%;
}
#rankPage .list_container {
  width: 100%;
  position: relative;
}
#rankPage .list_container .list_title {
  width: 64.67%;
  position: relative;
  left: -14%;
  top: 0;
  z-index: 100;
}
#rankPage .list_container .rank_list {
  width: 84.5%;
  margin: 0 auto;
  margin-top: -15%;
  border: 2px solid #623118;
  box-shadow: 1px 2px 0 2px #f5592d ,0 0 0 10px #fa976b,0 0 0 12px #623118;
  border-radius: 10px;
  background: #fcf8e8;
}
#rankPage .list_container .rank_list .user_avatar {
  width: 23.3%;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 50%;
  border: 2px solid #623118;
}
#rankPage .list_container .rank_list .nickname {
  color: #fcb103;
  font-weight: 700;
  text-align: center;
  margin-top: 1.2%;
  margin-bottom: 3%;
}
#rankPage .list_container .rank_list .rank {
  text-align: center;
  color: #e87d60;
  font-family: hb;
}
#rankPage .list_container .rank_list .rank .ranknum {
  font-family: hb;
  color: #53ccc1;
  font-size: 25px;
}
#rankPage .list_container .rank_list .studyBtn {
  display: block;
  margin: 3% auto;
  width: 29.167%;
}
#rankPage .list_container .rank_list .list_rank {
  list-style: none;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
}
#rankPage .list_container .rank_list .list_rank li {
  width: 90%;
  overflow: hidden;
  padding: 3% 5%;
}
#rankPage .list_container .rank_list .list_rank li .list_avatar {
  border-radius: 50%;
  border: 1px solid #623118;
  float: left;
  width: 11.67%;
}
#rankPage .list_container .rank_list .list_rank li .list_nickname {
  color: #f08b3a;
  font-size: 13px;
  font-weight: 600;
  float: left;
  margin-left: 5%;
  margin-top: 4%;
}
#rankPage .list_container .rank_list .list_rank li .list_ranknum {
  font-family: hb;
  font-size: 20px;
  float: right;
  margin-right: 4.5%;
  padding: 2% 0;
  color: #fc932b;
}
#rankPage .list_container .rank_list .list_rank li .medal {
  float: right;
  width: 10.5%;
  margin-top: 1%;
}
