<!doctype html>
<html lang="zh-CN">
<head>
    <title>学报告 问问答</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--<link rel="stylesheet" href="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">-->
    <!--<script src = '__PUBLIC__/js/jquery-2.1.4.min.js'></script>-->
    <!--<script src = '__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js'></script>-->
    <!--<script src = '__PUBLIC__/js/setStyle.js?v={:time()}'></script>-->
    <!--<script src = '__PUBLIC__/js/QuestionClass.js?v={:time()}'></script>-->
    <!--<script src = '__PUBLIC__/js/run.js?v={:time()}'></script>-->
    <!--<link rel="stylesheet" href="__PUBLIC__/css/style.css?v={:time()}">-->
    <!--<link rel="stylesheet" href="__PUBLIC__/css/animate.min.css?v={:time()}">-->
    <link rel="stylesheet" href="__PUBLIC__//js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <script src = '__PUBLIC__/js/jquery-2.1.4.min.js'></script>
    <script src = '__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js'></script>
    <script src = '__PUBLIC__/js/setStyle.js?v={:time()}'></script>
    <script src = '__PUBLIC__/js/QuestionClass.js?v={:time()}'></script>
    <script src = '__PUBLIC__/js/run.js?v={:time()}'></script>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css?v={:time()}">
    <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css?v={:time()}">
</head>
<body>
    <div class="mask">

    </div>
    <div data-role="page" id="homePage">
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <img src="__PUBLIC__/images/developer_btn.png?v=1" alt="" class="developer_btn">
        <div class="programerHolder">
            <div class="position_box">
                <img src="__PUBLIC__/images/developer_title.png?v=1" alt="" class="developer_title">
                <span class="closeP">&nbsp;X&nbsp;</span>
                <ul class="programer">
                    <li>产品设计：杨奇凡</li>
                    <li>
                        视觉设计：汪雨露
                    </li>
                    <li>
                        程序开发：周政
                    </li>
                    <li>
                        指导教师：杨奇凡
                    </li>
                    <li>
                        出品：红岩网校工作站
                    </li>
                </ul>
            </div>
        </div>
        <div class="slogan_container">
            <img src="__PUBLIC__/images/HomePage_slogan.png?v=1" alt="" class="HomePage_slogan">
        </div>
        <div class="btn_container">
            <div class="startBtn btn r_btn">
                我要参与
            </div>
            <br>
            <div class="RankBtn btn b_btn">
                排行榜
            </div>
        </div>
    </div>
    <div data-role="page" id="infoPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <p class="info_title">请完善基本信息</p>
        <img src="__PUBLIC__/images/boy.png" alt="" class="user_avatar">
        <p class="info_nickname">小四月</p>
        <ul class="info_list">
            <li>
                <span class="info_name">姓名</span>
                <
            </li>
        </ul>
    </div>
    <div data-role="page" id="testPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <p class="QuestionType">

        </p>
        <div class="questionContainer">

        </div>
        <p class="Description"></p>
        <div class="MultipleChoice">
            <ul class="selections">
                <li data-flag = 'A' selected-flag = '0'>
                    <span class="label">&nbsp;A&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
                <li data-flag = 'B' selected-flag = '0'>
                    <span class="label">&nbsp;B&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
                <li data-flag = 'C' selected-flag = '0'>
                    <span class="label">&nbsp;C&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
                <li data-flag = 'D' selected-flag = '0'>
                    <span class="label">&nbsp;D&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
            </ul>
        </div>
        <div class="TrueFalse">
            <div dec = 1 class="right selection">
                <span class="label">&nbsp;A&nbsp;</span> <span class="dec">正确</span>
            </div>
            <div dec = 0 class="wrong selection">
                <span class="label">&nbsp;B&nbsp;</span> <span class="dec">错误</span>
            </div>
        </div>
        <div class="FillBlank">
            <ul class="FillSelections">
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
            </ul>
        </div>
        <div class="applyBtn btn r_btn">
            确定
        </div>
    </div>
    <div data-role="page" id="overPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <div class="GradeBoard">
            <img src="__PUBLIC__/images/PopupWindow_title.png?v=1" alt="" class="PopupWindow_title">
            <div class="info_container">
                本组一共答对 <span class="right_num">2</span> 道题<br>
                <br>
                排第 <span class="rank_num">2</span> 名
            </div>
        </div>
        <div class="btn_container">
            <div class="RankBtn r_btn btn">查看榜单</div>
            <br>
            <div class="ReplayBtn b_btn btn">再测一次</div>
        </div>
    </div>
    <div data-role="page" id="rankPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png" alt="" class="logo">
        <div class="list_container">
            <img src="__PUBLIC__/images/rank_title.png" alt="" class="list_title">
            <div class="rank_list">
                <img src="" alt="" class="user_avatar">
                <p class="nickname"></p>
                <p class="rank">我的排名：第 <span class="ranknum"></span> 名</p>
                <div class="btnContainer">
                    <div class="classRank r_btn btn" style="margin-right: 10%">班级榜单</div>
                    <div class="returnHome y_btn btn">返回首页</div>
                </div>
                <ul class="list_rank">
                    <li style="background: #feebcb">
                        <img src="" alt="" class="list_avatar">
                        <span class="list_nickname"></span>
                        <img src="__PUBLIC__/images/gold.png" alt="" class="medal">
                    </li>
                    <li>
                        <img src="" alt="" class="list_avatar">
                        <span class="list_nickname"></span>
                        <img src="__PUBLIC__/images/silver.png" alt="" class="medal">
                    </li>
                    <li style="background: #feebcb">
                        <img src="" alt="" class="list_avatar">
                        <span class="list_nickname"></span>
                        <img src="__PUBLIC__/images/copper.png" alt="" class="medal">
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">©️红岩网校工作站</p>
    </div>
    <div data-role="page" id="classRankPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png" alt="" class="logo">
        <div class="list_container">
            <img src="__PUBLIC__/images/classRankTitle.png" alt="" class="list_title">
            <div class="rank_list">
                <img src="" alt="" class="user_avatar">
                <p class="nickname"></p>
                <p class="rank">我的班级在测试中排名：第 <span class="classranknum"></span> 名</p>
                <div class="btnContainer">
                    <div class="personalRank r_btn btn" style="margin-right: 10%">个人榜单</div>
                    <div class="returnHome y_btn btn">返回首页</div>
                </div>
                <ul class="classlist_rank">
                    <li style="background: #feebcb">
                        <span class="list_college"></span>
                        <span class="list_classNum"></span>
                        <img src="__PUBLIC__/images/gold.png" alt="" class="medal">
                    </li>
                    <li>
                        <span class="list_college"></span>
                        <span class="list_classNum"></span>
                        <img src="__PUBLIC__/images/silver.png" alt="" class="medal">
                    </li>
                    <li style="background: #feebcb">
                        <span class="list_college"></span>
                        <span class="list_classNum"></span>
                        <img src="__PUBLIC__/images/copper.png" alt="" class="medal">
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">©️红岩网校工作站</p>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var shareTitle = '学习十九大精神 | 重邮共青团：“学报告 问问答”学习测试平台打榜啦';
        var shareDesc = "重庆邮电大学红岩网校工作站原创开发";
        var shareURL = "https://wx.idsbllp.cn/game/19thQuestionAnswer/";
        var shareImg = "https://wx.idsbllp.cn/game/19thQuestionAnswer/Public/images/share.png";
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
            timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
            nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
            signature: "{$signature['signature']}",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone',
                'hideAllNonBaseMenuItem'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitle, // 分享标题
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQQ({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQZone({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    </script>
</body>
</html>
