<!doctype html>
<html lang="zh-CN">
<head>
    <title>学报告 问问答</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="__PUBLIC__//js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <script src = '__PUBLIC__/js/jquery-2.1.4.min.js'></script>
    <script src = '__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js'></script>
    <script src = '__PUBLIC__/js/setStyle.js?v=1'></script>
    <script src = '__PUBLIC__/js/QuestionClass.js?v=1'></script>
    <script src = '__PUBLIC__/js/run.js?v=1'></script>
    <script src = '__PUBLIC__/js/info_controller.js?v=1'></script>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css?v=1">
    <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css?v=1">
</head>
<body>
    <div class="mask">

    </div>
    <div data-role="page" id="homePage">
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <img src="__PUBLIC__/images/developer_btn.png?v=1" alt="" class="developer_btn">
        <div class="programerHolder">
            <div class="position_box">
                <img src="__PUBLIC__/images/developer_title.png?v=1" alt="" class="developer_title">
                <span class="closeP">&nbsp;X&nbsp;</span>
                <ul class="programer">
                    <li>产品设计：杨奇凡</li>
                    <li>
                        视觉设计：汪雨露
                    </li>
                    <li>
                        程序开发：周政
                    </li>
                    <li>
                        指导教师：杨奇凡
                    </li>
                    <li>
                        出品：红岩网校工作站
                    </li>
                </ul>
            </div>
        </div>
        <div class="slogan_container">
            <img src="__PUBLIC__/images/HomePage_slogan.png?v=1" alt="" class="HomePage_slogan">
        </div>
        <div class="btn_container">
            <div class="startBtn btn r_btn">
                我要参与
            </div>
            <br>
            <div class="RankBtn btn b_btn">
                排行榜
            </div>
        </div>
    </div>
    <div data-role="page" id="infoPage">
        <div class="tip_box">
            <div class="close_tip">

            </div>
            <div class="tip_state">

            </div>
            <p class="tip_info">
                信息提交成功!
            </p>
            <div class="startBtn btn y_btn">开始答题</div>
        </div>
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <p class="info_title">请完善基本信息</p>
        <img src="" alt="" class="user_avatar">
        <p class="info_nickname"></p>
        <ul class="info_list">
            <li>
                <span class="info_name">姓名</span>
                <input type="text" class="usr_name info_input" data-role="none">
            </li>
            <li>
                <span class="info_school">学校</span>
                <div class="Spinner">
                    <div class="seletor_trigger">

                    </div>
                    <input type="text" class="usr_school info_input" disabled="disabled" data-role="none">
                    <div class="arrow">
                        <img src="__PUBLIC__/images/arrow_down.png" alt="" class="arrow_down">
                    </div>
                    <ul class="school_list">
                        <div class="ghost_ele">
                            <div class="li_holder">
                                <li style="border-top: none">重庆大学</li>
                                <li>西南大学</li>
                                <li>西南政法大学</li>
                                <li>重庆医科大学</li>
                                <li>重庆师范大学</li>
                                <li>重庆邮电大学</li>
                                <li>重庆交通大学</li>
                                <li>重庆工商大学</li>
                                <li>重庆理工大学</li>
                                <li>四川外国语大学</li>
                                <li>四川美术学院</li>
                                <li>重庆三峡学院</li>
                                <li>重庆文理学院</li>
                                <li>长江师范学院</li>
                                <li>重庆科技学院</li>
                                <li>重庆第二师范学院</li>
                                <li>重庆警察学院</li>
                                <li>重庆人文科技学院</li>
                                <li>重庆工程学院</li>
                                <li>重师涉外商贸学院</li>
                                <li>工商融智学院</li>
                                <li>工商派斯学院</li>
                                <li>川外南方翻译学院</li>
                                <li>重邮移通学院</li>
                                <li>重大城市科技学院</li>
                                <li>电力高等专科学校</li>
                                <li>医药高等专科学校</li>
                                <li>三峡医药高等专科学校</li>
                                <li>航天职业技术学院</li>
                                <li>电子工程职业技术学院</li>
                                <li>工业职业技术学院</li>
                                <li>城市管理职业学院</li>
                                <li>工程职业技术学院</li>
                                <li>三峡职业学院</li>
                                <li>工贸职业技术学院</li>
                                <li>水利电力职业技术学院</li>
                                <li>城市职业学院</li>
                                <li>工商职业学院</li>
                                <li>青年职业技术学院</li>
                                <li>财经职业学院</li>
                                <li>建筑工程职业学院</li>
                                <li>商务职业学院</li>
                                <li>化工职业学院</li>
                                <li>旅游职业学院</li>
                                <li>安全技术职业学院</li>
                                <li>传媒职业学院</li>
                                <li>信息技术职业学院</li>
                                <li>海联职业技术学院</li>
                                <li>房地产职业学院</li>
                                <li>机电职业技术学院</li>
                                <li>应用技术职业学院</li>
                                <li>科创职业学院</li>
                                <li>电讯职业学院</li>
                                <li>能源职业学院</li>
                                <li>交通职业学院</li>
                                <li>公共运输职业学院</li>
                                <li>艺术工程职业学院</li>
                                <li>轻工职业学院</li>
                                <li>电信职业学院</li>
                                <li>经贸职业学院</li>
                                <li>幼儿师范高等专科学院</li>
                                <li>文化艺术职业学院</li>
                                <li>科技职业学院</li>
                                <li>资源与环境保护职业学院</li>
                                <li>护理职业学院</li>
                            </div>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <span class="info_phone">电话</span>
                <input type="text" class="usr_phone info_input" data-role="none">
            </li>
        </ul>
        <div class="apply_info btn r_btn">
            提交信息
        </div>
    </div>
    <div data-role="page" id="testPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <p class="QuestionType">

        </p>
        <div class="questionContainer">

        </div>
        <p class="Description"></p>
        <div class="MultipleChoice">
            <ul class="selections">
                <li data-flag = 'A' selected-flag = '0'>
                    <span class="label">&nbsp;A&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
                <li data-flag = 'B' selected-flag = '0'>
                    <span class="label">&nbsp;B&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
                <li data-flag = 'C' selected-flag = '0'>
                    <span class="label">&nbsp;C&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
                <li data-flag = 'D' selected-flag = '0'>
                    <span class="label">&nbsp;D&nbsp;</span>
                    <span class="selection">

                    </span>
                </li>
            </ul>
        </div>
        <div class="TrueFalse">
            <div dec = 1 class="right selection">
                <span class="label">&nbsp;A&nbsp;</span> <span class="dec">正确</span>
            </div>
            <div dec = 0 class="wrong selection">
                <span class="label">&nbsp;B&nbsp;</span> <span class="dec">错误</span>
            </div>
        </div>
        <div class="FillBlank">
            <ul class="FillSelections">
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
                <li selected-flag = '0'></li>
            </ul>
        </div>
        <div class="applyBtn btn r_btn">
            确定
        </div>
    </div>
    <div data-role="page" id="overPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png?v=1" alt="" class="logo">
        <div class="GradeBoard">
            <img src="__PUBLIC__/images/PopupWindow_title.png?v=1" alt="" class="PopupWindow_title">
            <div class="info_container">
                本组一共答对 <span class="right_num">2</span> 道题<br>
                <br>
                共用时 <span class="rank_num">2</span> 秒
            </div>
        </div>
        <div class="btn_container">
            <div class="RankBtn r_btn btn">查看榜单</div>
            <br>
            <div class="ReplayBtn b_btn btn">再测一次</div>
        </div>
    </div>
    <div data-role="page" id="rankPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png" alt="" class="logo">
        <div class="return_home">

        </div>
        <div class="list_container">
            <img src="__PUBLIC__/images/rank_title.png" alt="" class="list_title">
            <div class="rank_list">
                <img src="__PUBLIC__/images/boy.png" alt="" class="user_avatar">
                <p class="nickname"></p>
                <p class="rank">我的排名：第 <span class="ranknum"></span> 名</p>
                <div class="btnContainer">
                    <div class="universityRank r_btn btn" style="margin-right: 10%">本科院校榜单</div>
                    <div class="collegeRank y_btn btn">高职高专榜单</div>
                </div>
                <ul class="list_rank">
                    <li style="background: #feebcb">
                        <img src="" alt="" class="list_avatar">
                        <span class="list_nickname"></span>
                        <img src="__PUBLIC__/images/gold.png" alt="" class="medal">
                    </li>
                    <li>
                        <img src="" alt="" class="list_avatar">
                        <span class="list_nickname"></span>
                        <img src="__PUBLIC__/images/silver.png" alt="" class="medal">
                    </li>
                    <li style="background: #feebcb">
                        <img src="" alt="" class="list_avatar">
                        <span class="list_nickname"></span>
                        <img src="__PUBLIC__/images/copper.png" alt="" class="medal">
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">©️红岩网校工作站</p>
    </div>
    <div data-role="page" id="uRankPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png" alt="" class="logo">
        <div class="list_container">
            <img src="__PUBLIC__/images/utitle.png" alt="" class="list_title">
            <div class="return_home">

            </div>
            <div class="rank_ulist">
                <img src="__PUBLIC__/images/boy.png" alt="" class="user_avatar">
                <p class="nickname">123</p>
                <p class="rank">我所在的学校在竞赛中排名：第 <span class="ranknum"></span> 名</p>
                <div class="btnContainer">
                    <div class="RankBtn r_btn btn" style="margin-right: 10%">个人榜单</div>
                    <div class="collegeRank y_btn btn">高职高专榜单</div>
                </div>
                <ul class="list_urank">
                    <li style="background: #feebcb">
                        <span class="u_name"></span>
                        <img src="__PUBLIC__/images/gold.png" alt="" class="medal">
                    </li>
                    <li>
                        <span class="u_name"></span>
                        <img src="__PUBLIC__/images/silver.png" alt="" class="medal">
                    </li>
                    <li style="background: #feebcb">
                        <span class="u_name"></span>
                        <img src="__PUBLIC__/images/copper.png" alt="" class="medal">
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">©️红岩网校工作站</p>
    </div>


    <div data-role="page" id="cRankPage">
        <img src="__PUBLIC__/images/VoiceofYoung.png" alt="" class="logo">
        <div class="list_container">
            <img src="__PUBLIC__/images/ctitle.png" alt="" class="list_title">
            <div class="return_home">

            </div>
            <div class="rank_clist">
                <img src="__PUBLIC__/images/boy.png" alt="" class="user_avatar">
                <p class="nickname"></p>
                <p class="rank">我所在的学校在竞赛中排名：第 <span class="ranknum"></span> 名</p>
                <div class="btnContainer">
                    <div class="RankBtn r_btn btn" style="margin-right: 10%">个人榜单</div>
                    <div class="universityRank y_btn btn">本科院校榜单</div>
                </div>
                <ul class="list_crank">
                    <li style="background: #feebcb">
                        <span class="c_name"></span>
                        <img src="__PUBLIC__/images/gold.png" alt="" class="medal">
                    </li>
                    <li>
                        <span class="c_name"></span>
                        <img src="__PUBLIC__/images/silver.png" alt="" class="medal">
                    </li>
                    <li style="background: #feebcb">
                        <span class="c_name"></span>
                        <img src="__PUBLIC__/images/copper.png" alt="" class="medal">
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">©️红岩网校工作站</p>
    </div>




    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var isComplete = "{$isComplete}";
        var shareTitle = '学报告 问问答 | 重庆市青年大学生“党的十九大精神专题学习”网络竞赛';
        var shareDesc = "主办：团市委、市学联 承办：重庆大学、重庆邮电大学";
        var shareURL = "https://wx.idsbllp.cn/game/19thTuanShiWei/";
        var shareImg = "https://wx.idsbllp.cn/game/19thTuanShiWei/Public/images/share.png";
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
            timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
            nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
            signature: "{$signature['signature']}",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone',
                'hideAllNonBaseMenuItem'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitle, // 分享标题
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQQ({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQZone({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    </script>
</body>
</html>
